{% extends "navigate.html" %}
{% block mainbody %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta charset="utf-8" />
    <script src="/static/js/echarts.common.min.js"></script>
{#    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>#}
    <script type="text/javascript" src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
</head>
    <title>关系</title>
<div class="container">
    <div class="row">
    <!--head start-->
    <div class="col-md-12">
        <h3 class="page-header"><i class="fa fa-link" aria-hidden="true"></i> 实体关系管理 </h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="\">主页</a></li>
                <li><i class="fa fa-link" aria-hidden="true"></i>实体关系管理</li>
            </ol>
    </div>

    <div class = "col-md-12">
    	<div class = "panel panel-default">
			<header class="panel-heading">
            实体管理：
       		</header>
       		<div class = "panel-body">
			    <form  id ="createEntityForm" class="form-inline" style="padding-left: 10% ; padding-right: 10%" method="get" >
			    	<div id = "entityName" class="form-group" style="padding: 2%">
			        	<input type="text" id = "entityName" name = "entityName" class ="form-control" placeholder="名称" aria-describedby="basic-addon1">
			 		</div>
			 		<!--dropdown combobox start-->
			        <div class="btn-group" style="padding: 2%" > <a class="btn btn-default dropdown-toggle btn-select form-control" data-toggle="dropdown" id="btnCountry">实体类型<span class="caret"></span></a>
			            <ul class="dropdown-menu">
			                <li><a href="#">IPE_l0</a></li>
                            <li><a href="#">IPE_l1</a></li>
                            <li><a href="#">IPE_l2</a></li>
			                <li class="divider"></li>
			                <li><a href="#">Knowledge</a></li>
                            <li><a href="#">Knowledge_unit</a></li>
                            <li><a href="#">Knowledge_area</a></li>
			            </ul>
			        </div>
			        <!--dropdown combobox end-->
			        <div id = "relation_name" class = "form-group hide" style="padding: 2%">
			        	 <input type="text" id = "entity_tag_input" name = "entityTag" class ="form-control" placeholder="输入实体标签" aria-describedby="basic-addon1">
			        </div>
			        <div id = "entityRelease" class = "form-group" style="padding: 2%">
			        	 <input type="text" id = "entityRelease" name = "entityRelease" class ="form-control" placeholder="时间" aria-describedby="basic-addon1">
			        </div>
                    <div id = "entityLink" class = "form-group" style="padding: 2%">
			        	 <input type="text" id = "entityLink" name = "entityLink" class ="form-control" placeholder="原文链接" aria-describedby="basic-addon1">
			        </div>
                    <div id = "operation" class = "form-group hide" style="padding: 2%">
			        	 <input type="text" id = "entityOperation" name = "entityOperation" class ="form-control" aria-describedby="basic-addon1">
			        </div>
			        <div class="btn-group" style="padding: 2%">
			            <button type="button" id="btnCreate" class="btn btn-primary" onclick = "createEntity()">Create</button>
			        </div>
                    <div class="btn-group" style="padding: 2%">
			            <button type="button" id="btnCreate" class="btn btn-danger" onclick = "deleteEntity()">Delete</button>
			        </div>
				</form>
			</div>
		</div>
	</div>
    <div class = "col-md-12">
    	<div class = "panel panel-default">
			<header class="panel-heading">
            关系管理：
       		</header>
       		<div class = "panel-body">
			    <form  id ="RelationForm" class="form-inline" style="padding-left: 10% ; padding-right: 10%" method="get">
			    	<div id = "entity1" class="form-group" style="padding: 2%">
			        	<input type="text" id = "entity1_text" name = "entity1_text" class ="form-control" placeholder="实体１" aria-describedby="basic-addon1">
			 		</div>
                    <div class="btn-group" style="padding: 2%" > <a class="btn btn-default dropdown-toggle btn-select form-control" data-toggle="dropdown" id="btnCountry">关系类型<span class="caret"></span></a>
			            <ul class="dropdown-menu">
			                <li><a href="#">包含</a></li>
                            <li><a href="#">属于</a></li>
			                <li class="divider"></li>
                            <li><a href="#">关联</a></li>
			            </ul>
			        </div>
			        <!--dropdown combobox end-->
			        <div id = "relation_name" class = "form-group hide" style="padding: 2%">
			        	 <input type="text" id = "relation_name_input" name = "relType" class ="form-control" placeholder="输入关系类型" aria-describedby="basic-addon1">
			        </div>
			        <div id = "entity2" class = "form-group" style="padding: 2%">
			        	 <input type="text" id = "entity2_text" name = "entity2_text" class ="form-control" placeholder="实体２" aria-describedby="basic-addon1">
			        </div>
                    <div id = "operation" class = "form-group hide" style="padding: 2%">
			        	 <input type="text" id = "relOperation" name = "relOperation" class ="form-control" aria-describedby="basic-addon1">
			        </div>
			        <div class="btn-group" style="padding: 2%">
			            <button type="button" id="btnSearch" class="btn btn-primary" onclick = "createRel()">Create</button>
			        </div>
                    <div class="btn-group" style="padding: 2%">
			            <button type="button" id="btnSearch" class="btn btn-danger" onclick = "deleteRel()">Delete</button>
			        </div>
				</form>
			</div>
		</div>
	</div>

    {% if ctx %}
        <div class = "col-md-12">
            <div class = "panel panel-default">
                <header class = "panel-heading">
                    操作结果：
                </header>
                <div class = "panel-body">
                    <div style="padding: 2%">
                        <h2 id="ctx"></h2>
                        <script>
                          const jsVariableElement = document.getElementById("ctx");
                          var ctx_text = {{ ctx|safe }};
                          jsVariableElement.innerHTML = ctx_text["title"];
                        </script>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
<script src="/static/js/jquery-1.8.3.min.js"></script>
<script>
  // 定义创建函数
  function createEntity() {
      var form = document.getElementById("createEntityForm");
      var op = document.getElementById("entityOperation");
      op.value = "createEntity";
      form.submit();
  }
  // 定义删除函数
  function deleteEntity() {
      var form = document.getElementById("createEntityForm");
      var op = document.getElementById("entityOperation");
      op.value = "deleteEntity";
      form.submit();
  }
  function createRel() {
      var form = document.getElementById("RelationForm");
      var op = document.getElementById("relOperation");
      op.value = "createRel";
      form.submit();
  }
  function deleteRel() {
      var form = document.getElementById("RelationForm");
      var op = document.getElementById("relOperation");
      op.value = "deleteRel";
      form.submit();
  }
</script>
<script>
	$(".dropdown-menu li a").click(function(){
	   var selText = $(this).text();
	   $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
	   var formId = $(this).closest("form").attr("id");
       if (formId === "RelationForm") {
           $("#relation_name_input").val(selText.trim()) ;
       } else {
           $("#entity_tag_input").val(selText.trim()) ;
       }
	});
</script>
{% endblock %}